# Environment
IS_DOCKER=false

# Airflow Config
FEAST_REDIS_URL=redis:6379

# MLflow S3 Config
AWS_ACCESS_KEY_ID=churnadmin
AWS_SECRET_ACCESS_KEY=churnadmin
MLFLOW_S3_ENDPOINT_URL=http://s3:9000
MLFLOW_S3_IGNORE_TLS=true

# MLflow Config
MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=mlflow
MLFLOW_DB_NAME=mlflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Base PostgresSQL Config
APP_DB_USER=admin
APP_DB_PASSWORD=admin
APP_DB_NAME=churn
APP_DB_HOST=app_postgres
APP_DB_PORT=5432

# Airflow Config
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow_postgres:5432/airflow
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__SECRET_KEY=admin

# Gradio Config
FASTAPI_URL=http://nginx_lb:80
GRADIO_SERVER_NAME=0.0.0.0
PYTHONUNBUFFERED=1

# Pandera config
DISABLE_PANDERA_IMPORT_WARNING=True